<h1>New Day</h1>

<form method="post" action="/days/new">

<input type="text" name="name" placeholder="Day"><br><br>
<input type="text" name="intakes[name]" placeholder="Calorie Intake"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>