<p>Are you sure you want to delete <%= @intake.name %>?</p>

<form method="post" action="/intakes/<%=@intake.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<form>