<h1>New Intake</h1>

<form method="post" action="/intakes/new">
<input type="text" name="name" placeholder="Intake Name">

<br>
<label>Add To An Existing day</label><br>
<% @days.each do |day| %>
<% if day.user_id == @user.id %>
<input type="checkbox" name="day_id" value="<%=day.id%>"><%=day.name%><br>
<% end %>
<% end %>
<br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>